<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reserva(); as reservaRef) {
      <div>
        <h2 data-cy="reservaDetailsHeading"><span jhiTranslate="aerolineaVirtualApp.reserva.detail.title">Reserva</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reservaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.codigo">Codigo</span></dt>
          <dd>
            <span>{{ reservaRef.codigo }}</span>
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.fechaReserva">Fecha Reserva</span></dt>
          <dd>
            <span>{{ reservaRef.fechaReserva | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.estado">Estado</span></dt>
          <dd>
            <span>{{ reservaRef.estado }}</span>
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.vuelo">Vuelo</span></dt>
          <dd>
            @if (reserva()!.vuelo) {
              <div>
                <a [routerLink]="['/vuelo', reserva()!.vuelo?.id, 'view']">{{ reservaRef.vuelo?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.asiento">Asiento</span></dt>
          <dd>
            @if (reserva()!.asiento) {
              <div>
                <a [routerLink]="['/asiento', reserva()!.asiento?.id, 'view']">{{ reservaRef.asiento?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="aerolineaVirtualApp.reserva.pasajero">Pasajero</span></dt>
          <dd>
            @if (reserva()!.pasajero) {
              <div>
                <a [routerLink]="['/pasajero', reserva()!.pasajero?.id, 'view']">{{ reservaRef.pasajero?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/reserva', reservaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
